html {
    font-family: "Poppins", "Indie Flower";
    font-size: 16px;
    background-color: lightcyan;
}

.main-content {
    position: relative;
    top: 8rem; /*Offset for the header*/
}

.center {
    text-align: center;
}

figcaption {
    padding: 1rem;
}

header {
    position: fixed;
    height: 7rem;
    z-index: 100;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    margin: auto;
    background-color: OliveDrab;
}

header h1 {
    font-weight: 900;
    justify-content: flex-start;
    padding-left: 2rem;
    letter-spacing: 0.5rem;
}

header ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

header li {
    display: inline-flex;
    list-style-type: none;
    padding: 0.5rem;
    font-size: 1.2rem;
}

header a {
    text-decoration: none;
    color: black;
}


a:hover {
    text-decoration: underline;
    color: white;
}

@media only screen and (max-width: 650px) {
    header {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    header h1 {
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-left: 15%;
    }

    header ul {
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}

.image-container img{
    display: block;
    max-width: 100%;
}

.banner, .meet-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.banner img, .banner p, .meet-up img, .meet-up div {
    flex: 1;
    font-family: "Dancing Script";
    font-size: 2.5rem;
}

.banner img {
    height: 23rem;
}

@media only screen and (max-width: 650px) {
    
    .banner img, .banner p {
        font-size: 2rem;
    }
}

.activity-header, .events-header {
    font-size: 2rem;
    letter-spacing: 1rem;
}

.activities, .events {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.activity ,.event {
    flex: 1 1 25%;
}

@media only screen and (max-width: 650px) {
    .activity-header {
        font-size: 1.5rem;
    }
}

.cafe {
    background-image: url("./images/food.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;
}

.cafe p {
    font-size: 5rem;
    font-family: "Dancing Script";
    color: white;
}

@media only screen and (max-width: 650px) {
    .cafe {
        height: 20rem;
        margin-top: 1rem;
    }
    .cafe p {
        font-size: 3rem;
    }
}

.meet-up {
    margin-top: 2rem;
}


footer {
    position: fixed;
    background-color: OliveDrab ;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 2.5rem;
}

@media only screen and (max-width: 650px) {
    .meet-up {
        margin-top: 1rem;
    }
}
