body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
}

header {
    padding: 10px;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
}

.logo {
    float: left;
    height: 50px;
}

.links {
    text-align: right;
    padding-right: 10px;
}

.links li{
    text-decoration: underline;
    list-style-type: none;
    display:inline;
    padding: 4px;
}

.mission {
    background-image: url("img-mission-background.webp");
    height: 700px;
    width: 1200px;
    margin: auto;
}

#missionLabel {
    background-color: black;
    color: seashell;
    position: relative;
    top: 50%;
}

.teaOfMonth {
    width: 1000px;
    margin: auto;  
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    height: 200px;
    width: 300px;
}
 figure {
     padding: 10px;
     margin: 0px;
 }

 figcaption {
     padding-top: 10px;
 }

.location-container {
    background-image: url("img-locations-background.webp");
    height: 500px;
    width: 1200px;
    margin: 0 auto;
}

.grid-location {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    justify-content: center;
    align-content: center;
}

.grid-header {
    display: grid;
    grid-column: 1 / span 3;
    height: 100px;
    align-content: end;
    margin-bottom: 15px;
}

.location {
    background-color: black;
    width: 300px;
}

.tea-cozy {
    height: 200px;
}

footer {
    text-align: left;
    padding-left: 20px;
}
